.wrapper {
  margin-top: 20px;
  display: flex;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px 0 10px;
  max-width: 300px;
  width: 100%;
}

.linkBack {
  align-self: flex-start;
}

.title {
  font-size: 30px;
  line-height: 36px;
  margin: 20px 0 0;
}

.date{
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}

.img {
  height: 450px;
}

.content {

}

.contentBox {
  margin-top: 20px;
}

.contentTitle{
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 10px;
}

.contentText {

}