.box {
  /* height: 20vh; */
  display: block;
  width: 600px;
  margin: 0 auto 10px;
  text-decoration: none;
  color: #000;
}

.item {
  height: 19vh;
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(2, 1fr);
  padding: 20px;
  border: 1px solid #000;
  border-radius: 15px;
}

.content {
  width: 480px;
}

.img {
  height: 100%;
}

.title {
  margin-bottom: 15px;
}